# Environments & Dependencies
.env
.env.local
.venv/
env/
venv/
node_modules/
__pycache__/
*.py[cod]

# Build outputs & caches
build/
dist/
bin/
obj/
*.exe
*.dll
*.so
*.o
*.obj
.cache/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Logs & temp
data/*.json
*.log
tmp/
temp/
.DS_Store
Thumbs.db
